# IDEs
.vscode/
__debug_bin
.idea/
.DS_Store
.swp
*~

# Python cache files
__pycache__/
*.egg-info/

# Jupyter Notebooks.
**/.ipynb_checkpoints
# The default output for various artifacts (e.g. Jupyter Notebooks after Papermill execution).
artifacts
